html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  background: #e3e4e5;
  height: 100%;
  width: 100%;
}

.container {
  margin: 150px auto;
}

.stuff button {
  margin-bottom: 20px;
}


.stuff {
  position: relative;
  top: 30px;
}

.stuff img {
	position: relative;
	top: -40px;
}

#stuff_logo {
  width: 400px;
}


input {
  width: 300px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 0.8em;
    font-weight: normal;
    color: orange;
    height: 4.1em;
    letter-spacing: 0.25em;
    line-height: 4.25em;
    text-align: left;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 1px #ffffff;
    margin: 10px 0 20px;
    background-color: transparent;
}

input[type="text"] {
  text-indent: 25px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-style: italic;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-style: italic;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-style: italic;
}
input:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-style: italic;
}

button {
    display: block;
    margin: 20px auto 0;
    cursor: pointer;    
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: normal;
    height: 4.1em;
    letter-spacing: 0.25em;
    line-height: 4.25em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

h1{
    cursor: default;
    font-size: .9em;
    font-weight: normal;
    letter-spacing: 0.25em;
    padding: 0 3em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.bio {
  margin-bottom: 50px;
}

li {
  list-style: none; 
  display: inline-block;
  padding: 15px;
}

#top_logo {
	width: 400px;
	position: relative;
	top: 30px;
}

.thumbnail {
 height: 250px;
 width: 250px;
 object-fit: cover;
}

.error {
  text-align: center;
   font-size: 2.0em;
    font-weight: normal;
    height: 2.0em;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    text-transform: uppercase;
}


/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 153, 0, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 153, 0, 0.75);
  }
}
.hvr-back-pulse {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #ff9900;
  color: white;
}

/*.footer {
  position: relative;
  top: 100px;
}*/

.closing-tag {
    color: white;
    font-size: .9em;
    font-weight: normal;
    letter-spacing: 0.25em;
    padding: 0 3em;
    text-align: center;
    text-transform: uppercase;    
}

.closing-tag:hover {
  color: #ff9900;
  font-weight: 700;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* -_-_-_-_-_-_-_-_-Lightbox-_-_-_-_-_-_-_-_-_- */


		.backdrop
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}
 
 
		.box
		{
			position:absolute;
			top:20%;
			left:30%;
			width:500px;
			height:300px;
			background:#ffffff;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}
 






/* -_-_-_-_-_-_-_-_-_Responsiveness-_-_-_-_-_-_-_-_-_- */


*:before,
*:after {
  box-sizing: inherit;
}

.grid {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*='col-']{
  width: 100%;
  float:left;
  min-height: 1px;
}

.col {
  padding: 1em;
  margin: 8px;
  text-align: center;
}


/*column width*/


@media screen and (min-width:320px){

.col-S-1 { width: 8.33333%; }

.col-S-2 { width: 16.66667%; }

.col-S-3 { width: 25%; }

.col-S-4 { width: 33.33333%; }

.col-S-5 { width: 41.66667%; }

.col-S-6 { width: 50%; }

.col-S-7 { width: 58.33333%; }

.co-S-8 { width: 66.66667%; }

.col-S-9 { width: 75%; }

.col-S-10 { width: 83.33333%; }

.col-S-11 { width: 91.66667%; }

.col-S-12 { width: 100% ;}

}


@media screen and (min-width:640px){

.col-M-1 { width: 8.33333%; }

.col-M-2 { width: 16.66667%; }

.col-M-3 { width: 25%; }

.col-M-4 { width: 33.33333%; }

.col-M-5 { width: 41.66667%; }

.col-M-6 { width: 50%; }

.col-M-7 { width: 58.33333%; }

.col-M-8 { width: 66.66667%; }

.col-M-9 { width: 75%; }

.col-M-10 { width: 83.33333%; }

.col-M-11 { width: 91.66667%; }

.col-M-12 { width: 100% ;}

}

@media screen and (min-width:960px){

.col-L-1 { width: 8.33333%; }

.col-L-2 { width: 16.66667%; }

.col-L-3 { width: 25%; }

.col-L-4 { width: 33.33333%; }

.col-L-5 { width: 41.66667%; }

.col-L-6 { width: 50%; }

.col-L-7 { width: 58.33333%; }

.col-L-8 { width: 66.66667%; }

.col-L-9 { width: 75%; }

.col-L-10 { width: 83.33333%; }

.col-L-11 { width: 91.66667%; }

.col-L-12 { width: 100% ;}

}